.details-view {
    .icon {
        color: $gray-dark;
        margin-right: .5em;

        &.icon-folder {
            color: $brand-secondary;
            &.open { cursor: n-resize }
            &.closed { cursor: s-resize }
        }
    }

    .directory-list {
        td:first-of-type {
            cursor: pointer;
        }
    }
}

.inline-progress .progress {
    margin-bottom: $gutter-half;
}

.dragging {
    outline: 2px solid $brand-secondary;
}
